<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ALPHA Shop</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <nav>
      <div class="menu">
        <li class="menu__tag"><a href="" class="menu__tag__link">男款</a></li>
        <li class="menu__tag"><a href="" class="menu__tag__link">女款</a></li>
        <li class="menu__tag"><a href="" class="menu__tag__link">最新消息</a></li>
        <li class="menu__tag"><a href="" class="menu__tag__link">客製商品</a></li>
        <li class="menu__tag"><a href="" class="menu__tag__link">聯絡我們</a></li>
      </div>
      <div class="logo"><img class="logo__img" src="/icon/Logo@2x.png" alt="logo"></div>
      <div class="icon">
        <li class="icon__img"><img src="/icon/search@2x.png" alt="search" class="icon__img__search"></li>
        <li class="icon__img"><img src="/icon/shop-car@2x.png" alt="shop-car" class="icon__img__shop"></li>
        <li class="icon__img"><img src="/icon/dark@2x.png" alt="dark" class="icon__img__dark"></li>
      </div>
    </nav>
  </header>
  
  {{{body}}}
  <script src=""></script>
</body>
</html>